ul{
    list-style: none;
}
html,body{
    height:100%;
}
#root,
.container-wrapper,
.container-wrapper > .row{
    height:100%;
}

.wrapper {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    min-width: 600px;
    height: 100%;
}



.header{
    margin-top:10px;
}
.header a{
    width: 140px;
    display:inline-block;
    height: 30px;
    padding:0 6px 0 6px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    border-radius:3px;
    text-decoration: none;
    text-align: center;
    color:#777;
} 
